.user-container {
  display: grid;
  justify-content: center;
}
.user {
  box-sizing: border-box;
  padding: 15px;
  background-color: #de5935;
  max-width: 400px;
  border: 1px solid #f7cd46;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #f7cd46;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user img {
  width: 250px;
  border-radius: 50%;
}
.user h2 {
  margin-bottom: 0;
}
.user p:nth-child(7) {
  margin-top: 0;
}
.no-margin {
  margin: 0 0;
}
